.cart {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 500ms ease,
    visibility 0ms linear 500ms;
}

.cart--open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition:
    opacity 500ms ease,
    visibility 0ms linear 0ms;
}

.cart__content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-top: 44px;
  gap: 44px;
  display: flex;
  flex-direction: column;
}

.cart__count {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline: var(--app-padding-inline);

  font: var(--app-text-light-24);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: uppercase;
}

.cart__items {
  padding-inline: var(--app-padding-inline);
}
