.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.cart__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 48px;
  min-height: 0;
  padding-inline: var(--app-padding-inline);
  overflow-y: auto;
  padding-top: 48px;
}

.cart__count {
  font: var(--app-text-light-24);
  letter-spacing: var(--app-letter-spacing-none);
  padding-bottom: 12px;
  padding-top: 12px;
  text-transform: uppercase;
}

@media (width <= 768px) {
  .cart__content {
    gap: 24px;
    padding-top: 24px;
  }
}
