.filter-bar {
  height: 114px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding-inline: 100px;
  padding-bottom: 12px;
  gap: 12px;
  justify-content: flex-end;
}

.filter-bar__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  opacity: 1;
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
