.similar-products {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.similar-products__title {
  font: var(--app-text-light-20);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: capitalize;
}

.similar-products__carousel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 40px;
  scrollbar-color: #cccccc #000000;
  scrollbar-width: thin;
}

.similar-products__carousel::-webkit-scrollbar {
  height: 1px;
}

.similar-products__carousel::-webkit-scrollbar-track {
  background: #cccccc;
  height: 1px;
}

.similar-products__carousel::-webkit-scrollbar-thumb {
  background: #000000;
  height: 1px;
}
