.similar-products {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.similar-products__title {
  font: var(--app-text-light-20);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: capitalize;
}

.similar-products__carousel {
  display: flex;
  width: 100%;
  overflow: scroll hidden;
  padding-bottom: 40px;
  scrollbar-color: #ccc #000;
  scrollbar-width: thin;
}

.similar-products__carousel::-webkit-scrollbar {
  height: 1px;
}

.similar-products__carousel::-webkit-scrollbar-track {
  height: 1px;
  background: #ccc;
}

.similar-products__carousel::-webkit-scrollbar-thumb {
  height: 1px;
  background: #000;
}
