.similar-products {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.similar-products__title {
  font: var(--app-text-light-20);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: capitalize;
}

.similar-products__carousel {
  width: 100%;
}

.similar-products__carousel .product-card {
  flex: 0 0 344px;
  width: 344px;
}
