.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding-inline: 0;
  border: none;
  font: var(--app-text-light-12-button);
  letter-spacing: 8%;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  width: 260px;
  color: #fff;
  background-color: #1b1a18;
  text-decoration: none;
}

.button--outlined {
  width: 260px;
  border: 0.5px solid #1b1a18;
  color: #1b1a18;
  background-color: transparent;
  text-decoration: none;
}

.button--danger {
  color: #df0000;
  background-color: transparent;
  text-decoration: none;
}

.button:disabled {
  color: #c2bfbc;
  cursor: default;
  transition: all 0.3s ease;
  background-color: #f3f2f2;
}

@media (width <= 1024px) {
  .button {
    height: 48px;
  }
}
