.product-card {
  --product-card-height: 344px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: var(--product-card-height);
  min-height: var(--product-card-height);
  padding: 16px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 0.5px solid #000;
  border-left: 0.5px solid #000;
  border-right: 0.5px solid #000;
  border-top: 0.5px solid #000;
  box-sizing: border-box;
  text-decoration: none;
}

.product-card::before {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: #000;
  transition: transform 400ms ease-out;
  transform: translateY(100%);
  content: "";
}

.product-card:hover::before {
  transform: translateY(0);
}

.product-card > * {
  position: relative;
  z-index: 1;
}

.product-card__image-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  min-height: 0;
  padding: 24px;
  box-sizing: border-box;
}

.product-card__image-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-card__image {
  object-fit: contain;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.product-card__meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-card__brand {
  color: #79736d;
  font: var(--app-text-light-10);
  letter-spacing: var(--app-letter-spacing-none);
  transition: color 250ms ease;
  text-transform: uppercase;
}

.product-card__name {
  color: #000;
  font: var(--app-text-light-12);
  letter-spacing: var(--app-letter-spacing-none);
  transition: color 250ms ease;
  text-transform: uppercase;
}

.product-card__price {
  display: flex;
  align-items: flex-end;
  color: #000;
  font: var(--app-text-light-12);
  letter-spacing: var(--app-letter-spacing-none);
  transition: color 250ms ease;
  text-align: right;
  text-transform: capitalize;
}

.product-card:hover .product-card__brand,
.product-card:hover .product-card__name,
.product-card:hover .product-card__price {
  color: #fff;
}
