.product-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden auto;
  padding-top: 48px;
}

@media (width <= 768px) {
  .product-catalog {
    padding-top: 24px;
  }
}
