.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 344px), 344px));
  align-content: start;
  justify-content: start;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 48px;
  padding-inline: 100px;
  padding-bottom: 100px;
}
