.product-grid {
  --product-grid-card-min-width: 344px;

  display: grid;
  flex: 1;
  min-height: 0;
  padding-inline: var(--app-padding-inline);
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--product-grid-card-min-width)), 1fr)
  );
  padding-top: 48px;
  place-content: start start;
}

.product-grid::after {
  height: 48px;
  content: "";
  grid-column: 1 / -1;
}

@media (width <= 768px) {
  .product-grid {
    padding-top: 24px;
  }

  .product-grid::after {
    height: 24px;
  }
}
