.header {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding: 24px 100px;
}

.header--loading {
  border-bottom: 1px black solid;
}

.header__cart {
  display: flex;
  align-items: center;
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 6px;
}

.header__cart-count {
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
