.storage-selector {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.storage-selector__label {
  font: var(--app-text-light-14);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: uppercase;
}

.storage-selector__options {
  display: flex;
  flex-direction: row;
}

.storage-selector__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 65px;
  cursor: pointer;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}

.storage-selector__option-label {
  font: var(--app-text-light-14);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: capitalize;
}

.storage-selector__option--selected {
  border: 1px solid #000;
}

@media (width <= 1024px) {
  .storage-selector__option {
    width: 89px;
    height: 48px;
  }
}
