.filter-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  padding-inline: var(--app-padding-inline);
  opacity: 1;

  padding-block: 12px;
}

.filter-bar__results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  font: var(--app-text-light-12);
  letter-spacing: var(--app-letter-spacing-none);
  opacity: 1;
  text-transform: uppercase;
}
