.product-detail-specs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
}

.product-detail-specs__title {
  font: var(--app-text-light-20);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: capitalize;
}

.product-detail-specs__specs {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #000000;
}

.product-detail-specs__spec {
  display: flex;
  flex-direction: row;
  border-top-width: 0.5px;
  border-bottom-width: 0.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 48px;

  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0.5px;
  border-style: solid;
  border-color: #000000;
}

.product-detail-specs__spec__title {
  flex: 0 0 300px;

  font: var(--app-text-light-12);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: uppercase;
}

.product-detail-specs__spec__value {
  flex: 1;
  min-width: 0;

  font: var(--app-text-light-12);
  letter-spacing: var(--app-letter-spacing-none);
}

@media (max-width: 768px) {
  .product-detail-specs__spec {
    gap: 12px;
  }
  .product-detail-specs__spec__title {
    flex: 0 0 112px;
  }
}
