.cart-item {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.cart-item__image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 324px;
}

.cart-item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 180px;
  padding-block: 40px;
}

.cart-item__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: var(--app-text-light-12);
  letter-spacing: var(--app-letter-spacing-none);
  text-transform: uppercase;
}

.cart-item__metadata {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (width <= 800px) {
  .cart-item__image-wrapper {
    width: 160px;
    height: auto;
  }
}
